/* intro */
html {
  font-family: "GEORGIA", "Arial", sans-serif;
  background-image: url("img/mainback.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

* {
  box-sizing: border-box;
}

main {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border : 2px solid goldenrod;
  box-shadow: 0 0 15px 2px goldenrod;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  font-size: 24px;
  color: antiquewhite;
}

h1 {
  background-color: rgba(0, 0, 0, 0.6);
  border : 2px solid goldenrod;
  box-shadow: 0 0 15px 2px goldenrod;
  text-shadow: -3px 3px 5px rgba(218, 165, 32, .7);
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  font-family: "GEORGIA", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: goldenrod;
  text-align: center;
  padding: 0.6em 0em 0.6em 0em;
}

nav {
  font-size: 24px;
  color: goldenrod;
  text-align: center;
}
/* Интро и разметка статей*/

.space {
  margin-left: 1.5em;
}

.demo {
  color: aquamarine;
}


.underline {
  border-bottom: 1px solid goldenrod;
  padding-bottom: 10px;
}

a {
  color: goldenrod;
  text-decoration: none;
}

/* pазметка заголовков */

h2 {
  font-size: 36px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 5px 2px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 5px;
  color: goldenrod;
}

.header2 {
  text-align: center;
}

h3 {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 10px 3px rgba(218, 165, 32, 0.3);
  font-size: 24px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0;
  text-align: center;
  color: bisque;
}


/* разметка с картинкой */

.warning {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  width: 85%;
  border-radius: 10px;
  text-align: center;
  color: bisque;
  margin: 50px auto;
  padding: 5px 90px;
  background-image: url("img/warn.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 3em;
  background-position-x: -15px;
  background-position-y: 10px;
}

/* раздел стрейф */
.gallery {
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.middle {
  text-align: center;
  margin-top: 50px;
}

.inside {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  text-align: center;
  width: 40%;
  padding: 75px 5px;
}


.snap img {
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.warn {
  float: left;
}

/*Конец раздела*/

/* CPM */
.rabbit {
  background-image: url("img/Strafe.png");
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 10.9em 10.9em;
  background-position-x: 48em;
  background-position-y: 0em;
}

.flex {
display: flex;
flex-direction: row;
background-image: url("img/haste.png");
background-position: left;  
background-repeat: no-repeat;
background-size: 10.9em 10.9em;
background-position-x: 8em;
background-position-y: 0em;
}

.haste1 {
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 545px;
}

/* Stuff */
.haste {
  background-image: url("img/haste.png");
  margin-top: 50px;
  margin-bottom: 50px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 6em 6em;
  background-position-x: 55em;
  background-position-y: 0em;
}

.quade {
  background-image: url("img/quade.png");
  margin-top: 50px;
  margin-bottom: 50px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 6em 6em;
  background-position-x: 55em;
  background-position-y: 0em;
}

/* Для раздела картинок оружия */

.rocket {
  background-image: url("img/rocket.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 8.5em 8.5em;
  background-position-x: 50em;
  background-position-y: 2em;
}

.grenade {
  background-image: url("img/Grenade.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 8.5em 8.5em;
  background-position-x: 50em;
  background-position-y: 3em;
}

.plasma {
  background-image: url("img/Plasma.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 9.5em 9.5em;
  background-position-x: 50em;
  background-position-y: 2.5em;
}

.bfg {
  background-image: url("img/BFG.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 9.5em 9.5em;
  background-position-x: 50em;
  background-position-y: 2em;
}

/* Testing Flexbox раздел плазма*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.pc {
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
}

.box1 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 5px 0 5px 15px;
  margin-block-start: 0;
  margin-block-end: 0;
  
}


/* Раздел про ob*/
.ob {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  width: 95%;
  padding: 5px 0 5px 10px;
}

/* Подчеркивание ссылок*/

.under a {
  text-decoration: none;
  position: relative;
}

.under a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: antiquewhite;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.under a:hover:after {
  width: 100%;
  left: 0;
}

.links {
  font-size: 26px;
  line-height: 40px;
}

/* Footer navigation */

.end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "GEORGIA", "Arial", sans-serif;
  font-size: 32px;
  
}

.back {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.next {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  margin: 0 20px 0 20px;
  color: goldenrod;
  font-size: 32px;
  font-family: "GEORGIA", "Arial", sans-serif;
}

.dropdown {
  position: relative;
}

.content {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  display: none;
  position: absolute;
  min-width: 180px;
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-left: 37.5px;
  font-size: 24px;
  font-family: "GEORGIA", "Arial", sans-serif;
  bottom: 58px;
  }

.content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .content {
  display: block;
}

@media only screen and  (max-width: 900px) {
 
  main {
    font-size: 6px;
  }
 
  .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 
  
}

