/* common styles */
html {
  font-family: "GEORGIA", "Arial", sans-serif;
  background-image: url("img/mainback.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 70px auto;
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  border : 2px solid goldenrod;
  box-shadow: 0 0 15px 2px goldenrod;
  border-radius: 10px;
  padding: 0 25px;
  font-size: 24px;
  color: antiquewhite;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  border : 2px solid goldenrod;
  box-shadow: 0 0 15px 2px goldenrod;
  text-shadow: -3px 3px 5px rgba(218, 165, 32, .7);
  border-radius: 10px;
  text-align: center;
  font-family: 'Orbitron', "GEORGIA", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: goldenrod;
  margin-bottom: 70px;
  padding: 0 15px;
}


/*Fonts*/

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/orbitron-bold-webfont.eot');
  src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embeddedopentype'),
  url('fonts/orbitron-bold-webfont.woff') format('woff'),
  url('fonts/orbitron-bold-webfont.ttf') format('truetype'),
  url('fonts/orbitron-bold-webfont.svg') format('svg');
}


/* Animation h1*/


body.index-page > header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.weapon-animation {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.index-header {
  flex: 2;
}


.animation-icons {
  width: 4em;
  
}

.animation-icons + .animation-icons {
  margin-left: 15px;
}

@keyframes animation-icons {
  from {
    transform: rotate(0) scale(.5);
    opacity: 0;
  }

  50% {
    transform: rotate(-180deg) scale(.5);
    opacity: 1;
  }

  60% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  70% {
    transform: rotate(0) scale(1.1);
    opacity: 1;
  }

  80% {
    Transform: rotate(0) scale(1);
    opacity: 1;
  }

  90% {
    transform: rotate(0) scale(1.1);
    opacity: 1;
  }

  to {
    transform: rotate(0) scale(1);
  }
}


.animation-icons {
  -webkit-animation-name: animation-icons;
  -webkit-animation-duration: 3s;
  animation-name: animation-icons;
  animation-duration: 3s;
  
}


/* Навигация на главной с переходом*/

.mainNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainNav a {
  display: flex;
  align-items: center;
  height: 55px;
  font-family: 'Orbitron', "GEORGIA", "Arial", sans-serif;
  font-size: 24px;
  color: goldenrod;
  transition-property: font-size, text-shadow, color;
  transition-duration: .4s, 1s, .4s;
}

.mainNav a:first-child {
margin-top: 20px;
}

.mainNav a:last-child {
  margin-bottom: 20px;
}

.mainNav a:hover {
  text-shadow: 2px 2px 5px black, 0 0 1em white;
  color: white;
  font-size: 34px;
}

/* Разметка статей и стили для ссылок*/

.space {
  margin-left: 1.5em;
}

.demo {
  color: aquamarine;
  word-break: break-all;
}


.underline {
  background-color: rgba(218, 165, 32, .7);
  border-radius: 5px;
  padding: 5px 10px;
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:hover {
  color: rgb(247, 209, 162);
}

/* pазметка заголовков */

h2 {
  font-size: 34px;
  font-weight: 500;
  background-color: rgba(53, 51, 51, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 5px 2px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px;
  color: goldenrod;
}

.header2 {
  text-align: center;
}

h3 {
  background-color: rgba(53, 51, 51, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 10px 3px rgba(218, 165, 32, 0.3);
  font-size: 24px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  color: bisque;
}


/* Иконка для маркированного списка*/

ul.pictureList {
  list-style-image: url(img/quake3_93735.svg);
}

/* Стили для картинок */

.warning {
  background-color: rgba(53, 51, 51, 0.4);
  border : 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  width: 85%;
  border-radius: 10px;
  text-align: center;
  color: bisque;
  margin: 50px auto;
  padding: 5px 90px;
  background-image: url("img/warn.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 3em;
  background-position-x: -15px;
  background-position-y: 10px;
}

.gallery {
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.middle {
  text-align: center;
  margin-top: 50px;
}

img {
  max-width: 100%;
}

.float {
  max-width: 40%;
  float: left;
  margin: 10px 40px 20px 0;
}

/* Для раздела про пушки картинок оружия */

.posImages {
  position: relative;
}

.guns {
  position: absolute;
  top: 60px;
  right: 30px;
  width: 12%;
}



/* Раздел Stuff */

.stuffFlex {
  display: flex;
  flex-flow: row nowrap;
}

.container1 {
  flex: 4;
}

.container2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stuff {
  width: 5em;
}


/* Раздел про ob*/
.ob {
  margin: 50px auto;
  padding: 20px 30px;
  background-color: rgba(53, 51, 51, 0.4);
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  width: 95%;
  word-break: break-all;
}

/* Подчеркивание ссылок*/

.under a {
  text-decoration: none;
  position: relative;
}

.under a:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: antiquewhite;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.under a:hover:after {
  width: 100%;
  left: 0;
}

.links {
  font-size: 1.2em;
  line-height: 40px;
}

/* Footer navigation */


.end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 34px;
  
}

.next-back-button {
  font-family: 'Orbitron', "GEORGIA", "Arial", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  transition: all ease-in .2s;
}

.next-back-button:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px black, 0 0 1em white;
}

.navigation {
  font-family: 'Orbitron', "GEORGIA", "Arial", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  margin: 0 20px 0 20px;
  color: goldenrod;
  font-size: 34px;
}

.dropdown {
  position: relative;
  font-family: 'Orbitron', "GEORGIA", "Arial", sans-serif;
}

.content {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  display: none;
  position: absolute;
  border: 1px solid goldenrod;
  box-shadow: inset 0 0 5px 5px rgba(218, 165, 32, 0.3);
  border-radius: 10px;
  left: 64px;
  right: 0;
  font-size: 20px;
  bottom: 62px;
  max-width: 200px;
  }

.content a {
  text-decoration: none;
  display: block;
  height: 30px;
  transition-property: font-size, text-shadow;
  transition-duration: .4s, 1s, .4s;
}

.content a:first-child {
  margin-top: 5px;
}

.content a:hover {
  font-size: 24px;
  text-shadow: 2px 2px 5px black, 0 0 1em white;
}

.dropdown:hover .content {
  display: block;
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
  }
  .animation-icons {
    width: 3em;
    height: 3em;
  }

  main {
    font-size: 22px;
  }

}



