/* intro */
.mainpaje {
  text-align: center;
  margin-top: 100px;
  background-color: black;
  background-image: url("img/mainback.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }

body {
  background-color: black;
}

main {
  margin-top: 70px;
  margin-bottom: 70px;
}

.start {
  font-family: "GEORGIA", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: goldenrod;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7em 0em 0.7em 0em;
}


.one {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

nav p {
  font-size: 24px;
  color: goldenrod;
  text-decoration: underline;
}
/* Интро и разметка статей*/
.intro {
  margin-top: 70px;
  background-image: url("img/intro.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.mainone2 {
  background-color: rgba(0, 0, 0, 0.6);
  border : 1px solid goldenrod;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "GEORGIA", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: goldenrod;
  text-align: center;
  padding: 0.6em 0em 0.6em 0em;
}

.paje2 {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border : 1px solid goldenrod;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
  font-size: 24px;
  color: antiquewhite;
}  

.space {
  margin-left: 1.5em;
}

.demo {
  color: aquamarine;
}

.underline {
  text-decoration: underline;
  color: goldenrod;
  text-align: center;
  font-size: 10px;
}

footer {
  font-size: 36px;
  font-weight: 700;
  color: goldenrod;
  margin: 50px;
  text-align: center;
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:visited {
  color: antiquewhite;
}

footer a {
  background-color: rgba(0, 0, 0, 0.5);
  border : 1px solid goldenrod;
  border-radius: 10px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  padding: 0em 3em 0em 3em;
}

.navi {
  background-color: rgba(0, 0, 0, 0.5);
  border : 1px solid goldenrod;
  border-radius: 10px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  padding: 0em 1.5em 0em 1.5em;
}
/* pазметка заголовков */
.marj {
  margin-top: 50px;
}

.headers-mini {
  font-size: 36px;
  font-weight: 500;
  color: bisque;
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 50px;
  color: goldenrod;
}

.dl-style {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 5%;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: bisque;
}

.dl-style1 {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 12%;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: bisque;
}

.dl-style2 {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 15%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  color: bisque;
}

.dl-style3 {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 10%;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: bisque;
}
/* разметка с картинкой */
.style {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  width: 85%;
  border-radius: 10px;
  text-align: center;
  color: bisque;
  margin-left: auto;
  margin-right: auto;
}

.warnstyle {
  background-image: url("img/warn.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 50px;
  background-size: 6em 4em;
}

.warnstyle1 {
  background-image: url("img/warn.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 50px;
  background-size: 7.5em 5em;
}


section.warnstyle2 p {
  margin: 0;
}

.warnstyle2 {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("img/warn.png");
  border : 1px solid goldenrod;
  background-repeat: no-repeat;
  width: 40%;
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-size: 7.5em 5em;
  padding: 0.5em 0.5em 0.5em 3em;
  text-align: left;
  background-position-x: -2.2em;
  background-position-y: 0.3em;
  margin-bottom: 50px;
  margin-top: 30px;
}

.warnstyle3 {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("img/warn.png");
  border : 1px solid goldenrod;
  background-repeat: no-repeat;
  width: 90%;
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-size: 9em 6em;
  padding: 0em 0.5em 0em 3em;
  text-align: left;
  background-position-x: -3em;
  background-position-y: 0.9em;
  margin-bottom: 50px;
  margin-top: 50px;
}


/* добавленные картинки */
.gallery {
  border: 1px solid goldenrod;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.middle {
  text-align: center;
  margin-top: 50px;
}

.inside {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  border-radius: 10px;
  width: 37%;
  padding: 6em 1em 6em 1em;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 50px;
  margin-left: 60px;
}


.snap img {
  border: 1px solid goldenrod;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 160px;
  
}

section.block p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50px;
}

.snap2 {
  background-color: rgba(0, 0, 0, 0.4);
  border : 1px solid goldenrod;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 0.8em 0 0.8em;
  
}

.rabbit {
  background-image: url("img/Strafe.png");
  margin-top: 50px;
  margin-bottom: 50px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 10.9em 10.9em;
  background-position-x: 48em;
  background-position-y: 0em;
}

.haste {
display: flex;
flex-direction: row;
background-image: url("img/Strafe.png");
background-position: left;  
background-repeat: no-repeat;
background-size: 10.9em 10.9em;
background-position-x: 8em;
background-position-y: 0em;
}

.haste1 {
  border: 1px solid goldenrod;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 545px;
}

/* Для раздела картинок оружия */

.rocket {
  background-image: url("img/rocket.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 9.5em 9.5em;
  background-position-x: 50em;
  background-position-y: 1.5em;
}

.grenade {
  background-image: url("img/Grenade.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 9.5em 9.5em;
  background-position-x: 50em;
  background-position-y: 2.5em;
}

.plasma {
  background-image: url("img/Plasma.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 9.5em 9.5em;
  background-position-x: 50em;
  background-position-y: 2.5em;
}

.bfg {
  background-image: url("img/BFG.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 9.5em 9.5em;
  background-position-x: 50em;
  background-position-y: 2em;
}

/* Testing Flexbox*/

.container {
  display: flex;
  flex-direction: row;
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.pc {
  border: 1px solid goldenrod;
  border-radius: 10px;
  margin-left: 30px;
}

.box1 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0 5px 50px;
  margin-bottom: 122px;
  margin-top: 0px;
}

.box2 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0 5px 50px;
  margin-bottom: 122px;
}

.box3 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0 5px 50px;
  margin-bottom: 122px;
}

.box4 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0 5px 50px;
  margin-bottom: 0px;
}

/* Раздел про ob*/
.ob {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid goldenrod;
  border-radius: 10px;
  width: 95%;
  padding: 5px 0 5px 10px;
}